label{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px;
}

::-webkit-file-upload-button{
    background: rgba(0, 0, 0, 0.48);
    color: white;
    font-size: 20px;
}


#image {
    font-size: 20px;
}

#answer, #question_message, #question_title, #tag, #comment_message{
    background-color: rgba(0, 0, 0, 0.41);
    color: white;
    font-size: 20px;
}

#submit{
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
    margin: 10px;
    font-size: 20px;
}

form{
    font-size: 20px;
}