.distanceDiv{
    height: 1px;
}
.title{
    text-align: center;
}
.title2{
    position: relative;
    overflow-wrap: break-word;
    font-weight: bold;
    /*text-decoration: underline solid #2ecc71 3px;*/
    color: black;
    text-decoration: none;
}
.titleDiv{
    /*background-color: rgba(147,147,147,0.35);*/
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    position: relative;
    left: 20px;
    width: 95%;
    margin: 0;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sortMenuDiv{
    /*padding: 10px;*/
    margin:5px;
}

.mainDiv {
    /*background-color: rgba(255, 255, 255, 0.43);*/
    width: 72%;
    position:relative;
    left: 14%;
}

.mainDiv form{
    font-size: 20px;
    margin-bottom: 15px;
}
.mainDiv form select{
    height: 20px;
    margin-right: 15px;
}
.mainDiv form button{
    margin-left: 5px;
}

.questionDiv{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.commentDiv{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 64%;
    position: relative;
    left: 18%;
}

.answerDiv{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.topDetails{
    display: block;
    position: relative;
    left: 20px;
    width: 96%;
}
.postDetail{
    top: 10px;
    position: relative;
}


.questionMessage{
    display: inline-block;
    text-align: justify-all;
    vertical-align: top;
    margin: 1.5%;
}

.postDetail a{
    color: rgba(0, 116, 180, 0.8);
}

.questionImage{
    display: inline-block;
    width: 26%!important;
}

.questionDetails{
    display: inline-flex;
}

.questionDetails div{
    margin: 5px 5px 5px 0;
    position: relative;
    left: 20px
}
.voteDiv{
    position: absolute;
    right: 0;
    margin-top: 3px;
    top: 10px;
}

.messageAndPhoto{
    margin-top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /*background-color: rgba(255,255,255,0.65);*/
}
hr{
    width: 96%;
    position: center;

}

