{% extends "base_template.html" %}
{% block title %}
    Add tag
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename="/style/add_answer.css") }}">
{% endblock %}
{% block content %}
    <form action="{{ url_for('add_tag_page', question_id=question_id) }}" method="post" >
        <label for="tag">TAG:</label><br/>
        <textarea id="tag" name="tag" rows="1" cols="60"></textarea>
        <button id="submit" type="submit">ADD TAG</button>
    </form>
{% endblock %}