{% extends 'base_template.html' %}
{% block title %}
    Bonus Questions
{% endblock %}
{% block head %}
        <link rel="stylesheet" href="{{ url_for('static',filename='style/list_users.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
{% endblock %}
{% block content %}
    <div class="mainDiv">
        <h2>All Questions:</h2>
        <button id="theme-button">Change Theme to Dark</button>
        <button id="increase-font-button">Increase page font</button>
        <button id="decrease-font-button">Decrease page font</button>
        <input
                data-table-body="doNotModifyThisId_QuestionsTableBody"
                style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                type="text"
                placeholder="filter questions by keywords">
        <table>
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <th>Title</th>
                <th>Description</th>
                <th>Vote Count</th>
                <th>View Number</th>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
