{% extends "base_template.html" %} {% block title %}List Questions {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/list_questions.css') }}">
{% endblock %}
{% block content %}
<div class="mainDiv">
    <div class="title">
        <h1>Questions</h1>
    </div>
    <div class="sortMenuDiv">
        <form action="{{ url_for('sort_by') }}">
                        <label for="sort_by">Sort by:</label>
                        <select id="sort_by" name="sort_by">
                            <option value="id">ID</option>
                            <option value="title">Title</option>
                            <option value="submission_time">Submission time</option>
                            <option value="vote_number">Vote Number</option>
                        </select>
                        <label for="order_direction">Order:</label>
                        <select id="order_direction" name="order_direction">
                            <option value="asc">ASC</option>
                            <option value="desc">DESC</option>
                        </select>
                        <button type="submit">
                            Sort questions
                        </button>
                    </form>
    </div>

    {% for question in questions %}
    <div class="questionDiv">
        <div class="topDetails">
            <div class="postDetail">
                <p>Posted by {{ question.username }} at {{ question.submission_time }}
                    <br>
                    Question's tags
                    {% for tag in question.tags %}
                        {{ tag.name }}
                    {% endfor %}
                </p>
            </div>
            <div class="voteDiv">

                <a href=""><img src="{{ url_for('static',filename='img/like_button.png') }}" width="30px"></a>
                <a href=""><img src="{{ url_for('static',filename='img/dislike_button.png') }}" width="28px"></a>
            </div>
        </div>
        <div class="messageAndPhoto">
            <div class="titleDiv">
                <p class="title2">{{ question.title }}</p>
            </div>
            <div class="questionMessage"
                {% if question.image != '' %}
                    style="width: 70%!important;"
                {% endif %}
            >
                <p>{{ question.message }}</p>
            </div>
            {% if question.image != '' %}
                <div class="questionImage">
                    <p>---question image---</p>
                </div>
            {% endif %}
        </div>
        <div class="questionDetails">
            <div>--vote score---</div>
            <div>---views---</div>
            <div>---answers---</div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}