{% extends "base_template.html" %} {% block title %}List Questions {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/list_users.css') }}">
{% endblock %}
{% block content %}
<div class="mainDiv">
    <table>
        <thead>
            <th>Username</th>
            <th>Registration date</th>
            <th>Questions</th>
            <th>Answers</th>
            <th>Comments</th>
            <th>Reputation</th>
        </thead>
        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('user_page', user_id=user.id )}}">{{ user.username }}</a> </td>
            <td>{{ user.registration_date }}</td>
            <td>{{ user.questions }}</td>
            <td>{{ user.answers }}</td>
            <td>{{ user.comments }}</td>
            <td>{{ user.reputation }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
