{% extends "base_template.html" %} {% block title %}List Questions {% endblock %} {% block
content %}
<div>
    <table>
        <tr>
            <td>Username</td>
            <td>Registration date</td>
            <td>Questions</td>
            <td>Answers</td>
            <td>Comments</td>
            <td>Reputation</td>

        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('user_page', user_id=user.id )}}">{{ user.username }}</a> </td>
            <td>{{ user.registration_date }}</td>
            <td>{{ user.questions }}</td>
            <td>{{ user.answers }}</td>
            <td>{{ user.comments }}</td>
            <td>{{ user.reputation }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
