 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main_page') }}">Home</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="{{ url_for('list_page') }}"
                        >List questions</a
                    >
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="{{ url_for('bonus_questions_page') }}"
                        >Bonus questions</a
                    >
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="{{ url_for('add_question_page') }}"
                        >Add question</a
                    >
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="{{ url_for('list_users_page') }}"
                        >List Users</a
                    >
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="{{ url_for('tags_page') }}"
                        >List <br>Tags</a
                    >
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="{{ url_for('demo_page') }}"
                        >DEMO</a
                    >
                </div>
            <div class="navbar-nav floatNav">
                <a class="nav-link disabled logout" href="{{ url_for('logout_page') }}">
                    LOG OUT
                </a>
                <a class="nav-link disabled account">
                    {{ username }}
                </a>
                <a class="nav-link disabled logo" style="float: right"
                    >AskMate made by L.A.S (VEGAS)</a
                >
            </div>
            <div class="navbar-nav searchForm">
                <form action="{{ url_for('search_question') }}">
                    <input type="text" name="q" id="q" placeholder="Search question">
                    <button id="qs" type="submit">Search</button>
                </form>
            </div>

            </div>
        </div>
    </nav>

