{% extends "base_template.html" %} {% block title %} {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/tag_page.css') }}">
{% endblock %}
{% block content %}
    <div class="mainDiv">
        {% for tag in tags%}
            <a href="">
                {{ tag.name}} : {{ tag.count }}
            </a>



            <a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a><a href="">
                {{ tag.name}} : {{ tag.count }}
            </a>





        {% endfor %}
    </div>

{% endblock %}